In [1]:
import numpy as np

a = [2,4]
b = [3,6]

a+b

[2, 4, 3, 6]

In [3]:
import numpy as np

a = np.array([2,4])
b = np.array([3,6])

a*b

array([ 6, 24])

In [5]:
import numpy as np

a = np.array([2,4])
rot = np.array([[0,-1],[1,0]])

rot.dot(a)

array([-4,  2])

In [11]:
import pandas as pd

# df = pd.DataFrame([[1,2],[4,5]])
# df
df = pd.DataFrame({
    "age": [42,45,32,28],
    "nom": ["Emile", "Jacques", "Elise", "Aurélie"]
})
df

   age      nom
0   42    Emile
1   45  Jacques
2   32    Elise
3   28  Aurélie